@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/*font-family: 'Dancing Script', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/**font-family: 'Great Vibes', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*font-family: 'Raleway', sans-serif;*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*Header general para todos las páginas*/
header{
    background-color: #3d3d3d;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    height: 100px;
    font-family: 'Raleway', sans-serif;
    .logo{
        display: flex;
        float: left;
        padding: 5px;
    }
    .barra{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        li{
            list-style: none;
            display: inline-block;
            padding: 1rem;
            a{
                text-decoration: none;
                color: #ffffff;
            }
            a:hover{
                color: #c17767;
            }
        }
    }
}
/*Final de header general*/
/*Main*/
main{
    font-family: 'Raleway', sans-serif;
    padding-block: 2rem;
    padding-inline: 6rem;
    background-color: #f2f2f2;
    h1{
        color: #c17767;
        text-align: center
    }
    ul{
        padding-top: 2rem;
        li{
            list-style: circle;
        }
    }
}
/*Fin de main*/
/*Footer*/
footer{
    background-color: #3d3d3d;
    color: #f2f2f2;
    font-size: 25px;
    text-align: center;
    padding-block: 2rem;
    h2{
        font-size: 25px;
    }
    p{
        padding-top: 1rem;
    }
}
/*Fin de footer*/